<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/join/join1.css">
    
    <title>Document</title>
</head>
<body>
    <div class="userJoinLargeContainer">
        <div class="userJoinContainer">

            <div class="userJoinWrapper">
                <div class="userJoinHeader">기본정보</div>
                <div class="informCheckAvail">※표시는 반드시 입력하셔야 하는 항목입니다.</div>
            </div>

            <div class="userInformationWrapper">
                
                <div class="fillInUserId">
                    <div>아이디</div>
                    <div>
                        <input type="text"/>
                    </div>
                </div>
                
                <div class="fillInUserPassword">
                    <div>비밀번호</div>
                    <div>
                        <input type="password" placeholder="영문대/소문자, 숫자, 특수문자 중 2가지 이상 조합하세요"/>
                    </div>
                </div>
                
                <div class="toCheckPassword">
                    <div>비밀번호 확인</div>
                    <div>
                        <input type="password"/>
                    </div>
                </div>
                
                <div class="fillInUserName">
                    <div>이름</div>
                    <div>
                        <input type="text"/>
                    </div>
                </div>
                
                <div class="fillInUserEmail">
                    <div>이메일</div>
                    <div>
                        <input type="text"/>
                        <span>@</span>
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>

                <div class="fillInUserPhone">
                    <div>휴대폰 번호</div>
                    <div>
                        <input type="text" placeholder="-없이 입력하세요"/>
                    </div>
                </div>

                <div class="fillInUserAddress">
                    <div>우편번호</div>
                    <div class="userAddress">
                        <div class="fillInZipCd">
                            <div>
                                <input type="text"> 
                                <button type="button">우편번호 찾기</button>
                            </div>
                        </div>
                        <div class="userAddressDtl">
                            <input type="text"/>
                            <input type="text"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cancelOrJoinWrapper">
                <button type="button">취소</button>
                <button type="button">회원가입</button>
            </div>

        </div>
    </div>
</body>
</html>