.footerWrapper {
    background-color: aliceblue;
    width: 100%;
}

.footerInner {
    width: 97%;
    height: 80px;
    margin: auto;
    padding: 20px 0px;
    color: var(--lightblack_5);
}

.footerInner div {
    font-size: 12px;
}

.footerInner > div {
    display: flex;
    align-items: center;
}

.footerInner > div:first-child > div {
    font-weight: bold;
}

.footerInner > div > div {
    padding: 0px 10px;    
}

.footerInner > div > div:not(:first-child) {
    border-left: 1px solid var(--lightblack_5);
}