<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/include/footer.css">
</head>
<body>
    <div class="footerContainer">
        <div class="footerWrapper">
            <div>
                <div>
                    OddsMall
                </div>
            </div>
            <div>
                <div>
                    상호명 : OddsMall
                </div>
                <div>
                    대표 : 조정아
                </div>
                <div>
                    사업자 등록번호 : 130-45-33900
                </div>
                <div>
                    통신판매업 신고번호 : 제 2012-경기부천-1366 호
                </div>
            </div>
            <div>
                <div>
                    개인정보 관리자 : 김영호
                </div>
                <div>
                    유선번호 : 033-482-4984
                </div>
                <div>
                    팩스번호 : 033-482-4985
                </div>
                <div>
                    메일 : yhkim1008@nate.com
                </div>
            </div>
            <div>
                <div>
                    사업장 소재지 : 강원도 양구군 양구읍 죽곡로 147
                </div>
            </div>
            <div>
                <div>
                    copyright (c) www.oddsmall.com all right reserved
                </div>
            </div>
        </div>
    </div>
</body>
</html>