.joinContainer {
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(0%, 0%);
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 60%;
    
    padding: 40px 0px;

    border-radius: 5px;
    outline: 1px solid var(--lightblack_3);
}

.joinWrapper{
    display: flex;
    justify-content: space-between;
}

.joinWrapper > div{
    font-size: 20px;
}

.joinWrapper > div > div, p{
    font-size: 20px;
}

.joinSequence{
    display: flex;
    align-items: center;
    gap: 7px;
}

.agreeWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.agreeToUseDetail {
    height: 50vh;
    overflow: auto;

    border: 1px solid gray;
}

.agreeCollectDetail{
    border: 1px solid gray;
}

pre {
    width: inherit;
    white-space: pre-wrap;
}

.goNext{
    display: flex;
    justify-content: center;

    border-radius: 10px;
}

.goNextButton{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 40px;
}